.Rhistory
.Rapp.history
.RData
.Ruserdata
.Rproj.user/


# include only .gitkeep files in data/
/data/**/*.*
!/data/**/*.gitkeep


papers

python/__pycache__
python/figures/*
.ipynb_checkpoints

# ignore MATLAB scripts
*.m

# ignore rendered notebooks
R/*.html

figures/*
