.Rhistory
.Rapp.history
.RData
.Ruserdata
.Rproj.user/


# include only .gitkeep files in data/
/data/**/*.*
!/data/**/*.gitkeep


papers

python/__pycache__
python/figures/*

# exclude MATLAB scripts
*.m