[submodule "stagedtrees"]
	path = stagedtrees
	url = https://github.com/Kaasiak/stagedtrees/
[submodule "chain-event-graphs-report"]
	path = chain-event-graphs-report
	url = https://github.com/Kaasiak/chain-event-graphs-report/
